<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Interface</title>
    <link href="./chat_style.css" rel="stylesheet" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="./style.css" rel="stylesheet" />
  </head>
  <body class="flex h-screen">
    
    <!-- Navigation-->
    <div data-include-path="header.html"></div>

    <div
      class="border-r border-gray-200 flex"
      style="height: 100%; width: 80%; left: 10%; position: relative"
    >
      <div
        class="border-r border-gray-200 flex flex-col overflow-y-auto"
        style="width: 20%"
      >
        <div class="chat-list p-2">
          <!-- <div class="chat-item p-3 mb-1 cursor-pointer rounded-lg transition-colors" onclick="selectChat(this, '그냥자고싶어용')">그냥자고싶어용</div>
            <div class="chat-item p-3 mb-1 cursor-pointer rounded-lg transition-colors" onclick="selectChat(this, '채팅2')">채팅2</div>
            <div class="chat-item p-3 mb-1 cursor-pointer rounded-lg transition-colors" onclick="selectChat(this, '채팅3')">채팅3</div> -->
        </div>
      </div>
      <div id="mainContent" class="flex-1 flex flex-col hidden">
        <div class="p-4 border-b border-gray-200">
          <h2 id="chatTitle" class="text-xl font-semibold">채팅방</h2>
        </div>
        <div id="messagesContainer" class="flex-1 p-5">
          <div
            id="chatHeader"
            class="flex items-center p-4 bg-gray-100 border-b"
          >
            <span
              id="nicknameDisplay"
              class="font-bold text-lg text-gray-700"
            ></span>
          </div>
        </div>
        <div id="paymentModal">
          <div id="payment">
            <span>결제를 요청하시겠습니까?</span>
            <div id="payChoice">
              <button id="confirmYes">예</button>
              <button id="confirmNo">아니요</button>
            </div>
          </div>
        </div>
        <div class="border-t border-gray-200 p-4">
          <div id="chat_container">
            <form id="chatForm" class="flex">
              <i id="paid" class="fa-solid fa-credit-card"></i>
              <input
                id="messageInput"
                type="text"
                class="shadow-thin flex-grow p-2 border border-gray-300 rounded-l-lg"
                placeholder="메시지를 입력하세요"
              />
              <button type="submit" class="shadow-thin">전송</button>
            </form>
          </div>
        </div>
        <div
          id="placeholderContent"
          class="flex-1 flex items-center justify-center text-gray-500"
        ></div>
      </div>
    </div>

    <!-- Footer-->
    <div data-include-path="footer.html"></div>
    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <!-- <script src="js/scripts.js"></script> -->

    <script defer>
      // MutationObserver 사용
      document.addEventListener("DOMContentLoaded", function() {
        const targetNode = document.querySelector('body'); // body 전체를 관찰할 수 있습니다.
        const observerOptions = {
          childList: true, // 자식 노드의 변화를 관찰합니다.
          subtree: true    // 하위 트리의 변화를 모두 관찰합니다.
        };
    
        const observer = new MutationObserver((mutationsList, observer) => {
          // 헤더의 특정 요소가 존재하는지 확인
          if (document.getElementById("mypage-link")) {
            init();
            observer.disconnect(); // 헤더가 로드되고 나면 더 이상 감시하지 않습니다.
          }
        });
    
        observer.observe(targetNode, observerOptions);
      });
    
      function init() {
        const userId = getCookie("user_id");
        const mypageLink = document.getElementById("mypage-link");
        const chatLinkContainer = document.getElementById("chat-link-container");
    
        if (userId) {
          mypageLink.href = "/public/mypage.html";
          mypageLink.textContent = "마이페이지";
          chatLinkContainer.style.display = "block";
        } else {
          console.log("user_id 없음");
        }
      }
    
      function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
      }
    </script>
    
  </body>

  <script>
    window.addEventListener('load', () => {
        const allElements = document.getElementsByTagName('*');
        Array.prototype.forEach.call(allElements, (el) => {
            const includePath = el.dataset.includePath;
            if (includePath) {
                fetch(includePath)
                    .then(response => {
                        if (response.ok) {
                            return response.text();
                        } else {
                            return null;
                        }
                    })
                    .then(data => {
                        if (data) {
                            el.outerHTML = data;
                        }
                    })
            }
        });
    });

    
    /*소켓 통신*/
    //===========================================

    var socket = io();
    var currentChat = null;
    var nickname = getCookie('user_id');
    let pro_id, pro_name;
    let user_name;
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      socket.emit('join', parts[1]);

      if (parts.length === 2) return parts.pop().split(';').shift();
      return null;
    }

    if (!nickname) {
      alert('로그인을 해주세요');
    }

    function selectChat(element, chatName, room_id) {
      $('.chat-item').removeClass('active');
      $(element).addClass('active');
      currentChat = chatName;
      $('#chatTitle').text(chatName);
      $('#mainContent').removeClass('hidden');
      $('#placeholderContent').addClass('hidden');
      $('#messagesContainer').empty(); // Clear previous messages

      getChat(room_id);
    }

    socket.on('msg', function (data) {
      if (currentChat) {
        const messageElement = $('<div>').addClass('message');

        if (data.msg.includes('<button') || data.msg.includes('<span')) {
          messageElement.html(data.msg); // HTML 메시지
        } else {
          messageElement.text(data.msg); // 일반 텍스트 메시지
        }

        if (data.nickname === nickname) {
          messageElement.addClass('sent');
        } else {
          $('#nicknameDisplay').text(data.nickname); // 상대방 닉네임 표시
          receivedNicknameSet = true;

          messageElement.addClass('received');
        }

        $('#messagesContainer').append(messageElement);
        $('#messagesContainer').scrollTop(
          $('#messagesContainer')[0].scrollHeight
        );
      }
    });

    $('form').submit(function (e) {
      e.preventDefault();
      const message = $('#messageInput').val();
      if (message && currentChat) {
        socket.emit('msg', message);
        $('#messageInput').val('');
      }
    });

    /*모달*/
    //===========================================

    $(document).ready(function () {
      // 모달 열기
      $('#paymentModal').css('display', 'none');
      $('#paid').click(function () {
        $('#paymentModal')
          .css('display', 'flex')
          .dialog({
            modal: true, // 모달 설정
            open: function () {
              $('div[role="dialog"]').css('top', '0px');
            },
            // resizable: true, // 크기 조정 가능
            // draggable: false, // 이동 불가
            width: 'auto', // 내부 컨텐츠에 맞게 크기 자동 조정
            height: '860px',
            top: '30px',
            close: function () {
              $('#paymentModal').css('display', 'none'); // 닫힐 때 display: none 설정
            },
          });
        // 외부 클릭으로 모달 닫기
        $('.ui-widget-overlay').on('click', function () {
          $('#paymentModal').dialog('close');
        });
      });

      // "예" 버튼 클릭
      $('#confirmYes').click(function () {
        sendPaymentRequest();
        $('#paymentModal').dialog('close'); // 모달 닫기
      });

      // "아니요" 버튼 클릭
      $('#confirmNo').click(function () {
        $('#paymentModal').dialog('close'); // 모달 닫기
      });
    });

    /*api 호출*/
    //==============================================================

    // 서버에서 데이터 가져오기
    fetch('/chat/list')
      .then((res) => res.json())
      .then((data) => {
        // 받은 데이터를 HTML로 렌더링
        renderChatRoomList(data);
      })
      .catch((error) => console.error('Error fetching chat list:', error));

    // DOM에 채팅 리스트 추가하는 함수
    function renderChatRoomList(chatData) {
      const chatListContainer = document.querySelector('.chat-list'); // chat-list 컨테이너 선택

      // 받은 객체 배열을 반복하며 각 데이터를 div로 생성
      chatData.result.forEach((chat,index) => {
        // 새 div 생성
        let name;
        pro_id = chat.cus1; //cus1이 무조건 교수
        pro_name = chatData.name[0].proname;
        user_name = chatData.name[0].cusname;
        const chatItem = document.createElement('div');
        chatItem.className =
          'chat-item p-3 mb-1 cursor-pointer rounded-lg transition-colors';

        //상대방의 화면이 뜨도록 하기.
        if (nickname == chat.cus1) {
          name = chatData.name[0].cusname;

          chatItem.textContent = name || 'No Name'; // 채팅 데이터에서 이름 표시
        } else {
          name = chatData.name[0].proname;

          chatItem.textContent = name || 'No Name'; // 채팅 데이터에서 이름 표시
        }

        chatItem.setAttribute(
          'onclick',
          `selectChat(this, ${JSON.stringify(name)}, ${chat.room_id})`
        );

        // 컨테이너에 추가
        chatListContainer.appendChild(chatItem);

        if (index === 0) {
            firstChatItem = { element: chatItem, name, room_id: chat.room_id };
          }
        });

        // 첫 번째 채팅방 자동 활성화
        if (firstChatItem) {
          selectChat(
            firstChatItem.element,
            firstChatItem.name,
            firstChatItem.room_id
          );
        }
    }

    function getChat(room_id) {
      fetch(`/chat/detail/${room_id}`)
        .then((res) => res.json())
        .then((data) => {
          // 받은 데이터를 HTML로 렌더링
          renderChatList(data.data);
        })
        .catch((error) => console.error('Error fetching chat list:', error));
    }

    function renderChatList(chat) {
      let receivedNicknameSet = false; // 닉네임이 상단에 표시되었는지 확인

      chat.forEach((data) => {
        const messageElement = $('<div>').addClass('message');

        // 메시지 내용 렌더링
        if (
          data.chat_message.includes('<button') ||
          data.chat_message.includes('<span')
        ) {
          messageElement.html(data.chat_message); // HTML로 렌더링
        } else {
          messageElement.text(data.chat_message); // 일반 텍스트로 렌더링
        }

        // 수신 메시지 처리
        if (data.cus_id != nickname) {
          messageElement.addClass('received');

          // 닉네임이 아직 상단에 표시되지 않았다면 설정
          if (!receivedNicknameSet) {
            $('#nicknameDisplay').text(data.cus_id); // 상대방 닉네임 표시
            receivedNicknameSet = true;
          }
        } else {
          // 송신 메시지 처리
          messageElement.addClass('sent');
        }

        // 메시지 추가
        $('#messagesContainer').append(messageElement);
        $('#messagesContainer').scrollTop(
          $('#messagesContainer')[0].scrollHeight
        );
      });
    }

    //결제창 팝업
    //==============================================
    // 채팅 메시지에 결제 요청 링크 버튼 삽입
    function sendPaymentRequest() {
      const paymentLink = 'http://localhost:3000/chat/payment';
      const paymentMessage = `
      <button class="payment-link" data-link="${paymentLink}" style="">
        결제를 진행하려면 여기를 클릭하세요
      </button>
    `;

      // 메시지 전송
      socket.emit('msg', paymentMessage);

      // 채팅창 숨김
      $('.chat-container').addClass('inactive');
    }

    // 결제 버튼 클릭 시
    $(document).on('click', '.payment-link', function () {
      const link = $(this).data('link');
      $('.chat-container').addClass('inactive'); // CSS 클래스 추가
      const popup = window.open(link, 'paymentPopup', 'width=400,height=600');

      popup.addEventListener('load', () => {
        popup.postMessage({ pro_name, user_name }, '*'); // 팝업 창으로 메시지 전달
      });
    });

    // 결제 완료 후 다시 채팅창 활성화
    function paymentCompleted(message) {
      if (currentChat) {
        const paymentMessage = `
          <span class="payment-complete">
            ${message}
          </span>
        `;
        socket.emit('msg', paymentMessage); // 상대방에게 메시지 전송
        $('.chat-container').addClass('aboutpay'); // CSS 클래스 제거
      } else {
        console.log('채팅방이 선택되지 않았습니다.');
      }
    }
  </script>
</html>